.image-Quran{
    width: 150px;
    height: 80px;
}
.image-girl{
    width: 100%;
    border-radius: 20px;
    animation:5s infinite Moving;
    position: relative;
}
.image-ts{
    width: 100%;
}
.image-q{
    width: 80%;
}
.image-SS{
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.image-div{
    width: 45%;
    height: 70%;
    border:goldenrod 3px solid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}
.image-SS-back{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.image-qaida{
    width: 100%;
     height: 243px;
}
.image-qaida3{
    width: 100%;
    height: 203px;
}
.img1{
    width: 110px;
    height: 70px;
    /* border-radius: 100px; */
    margin-top: 20px;
}
.img2{
    width: 70px;
    height: 70px;
    /* border-radius: 100px; */
    margin-top: 20px;
}
.img3{
    width: 80px;
    height: 70px;
    /* border-radius: 100px; */
    margin-top: 20px;
}
.nq-bi1{
    background-image: url(./Assets/istockphoto-505625470-1024x1024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes Moving {
    0%   {background-color:white; left:0px; top:0px;}
    25%  {background-color:white; left: 0px; top:-25px;}
    50%  {background-color:white; left: 0px; top:20px;}
    75%  {background-color:white; left:0px; top:-25px;}
    100% {background-color:white; left:0px; top:0px;}
}
.bc{
    background-color: #B08936;
}
.ccc{
    cursor: pointer;
}

.bl{
    border: none;
    border-left: 2px dashed #290E03;
}
.mt{
    margin-top: 4%;
}  
/* .mt2{
    margin-top: 160px;
} */
.mt3{
    margin-top: 10%;
}
.mt4{
    margin-top: 3%;
}
.mt5{
    margin-top: 15%;
}
.mt6{
    margin-top: 2%;
}
.mt7{
    /* margin-top: 8%; */
    line-height: 45px;
    margin-left: 10px;
}
.mnp{
    margin: 0px;
    padding-top: 30px;
}
.mb{
    margin-bottom: 20px;
}
.mb2{
    margin-bottom: 60px;
}
.card-height{
    height: 560px;
    background-color: #B08936;
    color: white;
}
.card-height:hover{
    
    border-left: 5px solid #B08936;
    border-right: 5px solid #B08936;
    color:#B08936;
    background: none;
    transition-duration: 1s;
    box-shadow: 0px 0px 20px;
}
.pad{
    padding: 10px;
}
.ml{
    margin-left: 30px;
}
.ml2{
    margin-left: 1%;
}
.cb{
    background-color: #B08936;
}
.cw{
    color: white;
}
.cg{
    color: #B08936;
}
.cg:hover{
    color: #B08936;
}
.cgwh{
    color: #B08936;
}
.cgwh:hover{
    color: rgb(134, 99, 10);
    transition-duration: 0.5s;
}
.btb{
    border-top: black 1px solid;
}
 .navbar-toggler{
    background-color: goldenrod;
}
 .ff{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.fw{
    font-weight: 800;
}
.fs{
    font-size: 20px;
}
.fs2{
    font-size: 18px;
}
.fs8{
    font-size: 11px;
}
.td{
    text-decoration: 2px overline goldenrod;
}
.td:hover{
    text-decoration: 2px overline rgb(134, 99, 10);
}
.tdb{
    text-decoration: underline 3px #B08936;
}
.td2:hover{
    text-decoration: 2px solid #B08936;
}
.bl{
    border-left:2px solid #290E03;
}
.bn{
    border: none;
} 
.card1 {
    text-align:center;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    border-radius: 15px;
    box-shadow: 0px 20px 60px;
    color: white;
    margin-top: 10%;
}
  .card1:hover{
    border-left: 5px solid #B08936;
    border-right: 5px solid #B08936;
    color:#B08936;
    background: none;
    transition-duration: 0.8s;
    box-shadow: 0px 0px 20px;
}

.ip{
    width: 80%;
    height: 50px;
    outline: none;
    background: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px #290E03;
    text-indent: 15px;
}
input:focus{
    border: 2px solid #B08936;
}
.text-area{
    width: 80%;
    outline: none;
    background: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px #290E03;
    text-indent: 15px;
}
.text-area:focus{
    border: 2px solid #B08936;
}
.btnn{
    width: 45%;
    transition-duration: 0.5s;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.btnn:hover{
    color: white;
    background-color: #B08936;
    transition-duration: 0.5s;
}
@media Screen and (max-width: 500px) {
    #mar-top{
        margin-top: 30%;
    }
    #martop{
        margin-top: 15%;
    }
    #fs{
        font-size: 20px;
    }
}
@media Screen and (max-width: 700px) {
    #image-Q{
        width: 90px;
        height: 60px;
    }
    #flip{
        width: 250px;
        height: 300px;
    }
    #progress{
        width: 80px;
        height: 80px;
        line-height: 72px;
    }
    #progress-bar{
        border-width: 6px;
    }
    #fs1{
        font-size: 1.5rem;
    }
    #fs2{
        font-size: 1.2rem;
    }
}
.flip-box {
    background-color: transparent;
    width: 400px;
    height: 450px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
} 
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}  
.flip-box-front {
    background-color: #290E03;
    border-radius: 11px;
} 
.flip-box-back {
    background-color: #290E03;
    color: goldenrod;
    border-radius: 10px;
    transform: rotateY(180deg);
}
.mlra{
    margin-left: auto;
    margin-right: auto;
}
.progress{
    width: 150px;
    height: 150px;
    background: transparent;
    margin: 0 auto;
    position: relative;
    line-height: 135px;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: transparent;
    border-width: 10px;
    border-style: solid;
    position: absolute;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    font-size: 32px;
    color: goldenrod;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: goldenrod;
}
.anim-1-right{
    animation: anima-1 1.8s linear forwards;
}
.anim-1-left{
    animation: anima-2 1.5s linear forwards 1.8s;
}
@keyframes anima-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes anima-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }
}
/* 95% */
.anim-2-right{
    animation: anima-3 1.8s linear forwards;
}
.anim-2-left{
    animation: anima-4 1.5s linear forwards 1.8s;
}
@keyframes anima-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes anima-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(170deg);
        transform: rotate(170deg);
    }
}
/* 90% */
.anim-3-right{
    animation: anima-5 1.8s linear forwards;
}
.anim-3-left{
    animation: anima-6 1.5s linear forwards 1.8s;
}
@keyframes anima-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes anima-6{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}
.hh{
    transition-duration: 1s;
    box-shadow: 0px 20px 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}
.hh:hover{
    border-left: 5px solid #B08936;
    border-right: 5px solid #B08936;
    color: #B08936;
    background-color: white;
    transition-duration: 1s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tran-scale:hover{
    transition-duration: 1s;
    transform: scale(1.05);
}
@keyframes anima-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes anima-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
.main_menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
.menu_fixed {
    position: fixed;
    z-index: 9999 !important;
    width: 100%;
    background-color: #b08936;
    box-shadow: 0 10px 15px rgb(0 0 0 / 5%);
    top: 0;
}
.navbarclr {
    background-color: #b08936;
}




.box14{position:relative}
.box15,.box17,.box18{box-shadow:0 0 5px #7e7d7d;text-align:center}
.box14:before{content:"";width:90%;border-radius: 10px; height:100%;background:rgba(0,0,0,.5);position:absolute;top:0;left:17px;opacity:0;transition:all .35s ease 0s}
.box14:hover:before{opacity:1}
.box14 img{width:100%;height:auto}
.box14 .box-content{width:90%;height:90%;position:absolute;top:5%;left:5%}
.box14 .box-content:after,.box14 .box-content:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;transition:all .7s ease 0s}
.box14 .box-content:before{border-bottom:1px solid rgba(255,255,255,.5);border-top:1px solid rgba(255,255,255,.5);transform:scale(0,1);transform-origin:0 0 0}
.box14 .box-content:after{border-left:1px solid rgba(255,255,255,.5);border-right:1px solid rgba(255,255,255,.5);transform:scale(1,0);transform-origin:100% 0 0}
.box14:hover .box-content:after,.box14:hover .box-content:before{opacity:1;transform:scale(1);transition-delay:.15s}
.box14 .title{font-size:21px;font-weight:700;color:#fff;margin:15px 0;opacity:0;transform:translate3d(0,-50px,0);transition:transform .5s ease 0s}
.box14:hover .title{opacity:1;transform:translate3d(0,0,0)}
.box14 .post{font-size:14px;color:#fff;padding:10px;background:#d79719;opacity:0;border-radius:0 19px;transform:translate3d(0,-50px,0);transition:all .7s ease 0s}
.box14 .icon,.box15 .icon{padding:0;list-style:none}
.box14:hover .post{opacity:1;transform:translate3d(0,0,0);transition-delay:.15s}
.box14 .icon{width:100%;margin:0;position:absolute;bottom:-10px;left:0;opacity:0;z-index:1;transition:all .7s ease 0s}
.box14:hover .icon{bottom:20px;opacity:1;transition-delay:.15s}
.box14 .icon li a{display:block;width:40px;height:40px;line-height:40px;border:1px solid #fff;border-radius:0 16px;font-size:14px;color:#fff;margin-right:5px;transition:all .4s ease 0s}
.box14 .icon li a:hover{background:#d79719;border-color:#d79719}
@media only screen and (max-width:990px){.box14{margin-bottom:30px}
}
